<div class="notfound">
  <h1 style="margin-top: 50px;font:bloder;font-size: 70px">Page Not Found !</h1>
  <button type="button" class="btn btn-dark" onclick="window.location.href='/';" style="margin-top: 50px;font-size: 30px"> Back to Homepage</button>
</div>