<div class="imgreading">
  <h1 class="text-center fw-bolder">Image Text Recognition</h1>

  <h4 class="text-center">Read text content from single or multiple images</h6>
    <br />


    <form id="imageForm">
      <div class="form-group">
        <input id="imageInput" type="file" multiple required accept="image/*" class="form-control">
      </div>
      <br />

      <div class="form-group" style="text-align:center">
        <button type="submit" class="btn btn-primary">Read Text</button>
      </div>
    </form>
    <span class="btn1" onclick="document.body.style.fontSize='medium'">A</span>
    <span class="btn2" onclick="document.body.style.fontSize='larger'">A</span>
    <span class="btn3" onclick="document.body.style.fontSize='x-large'">A</span>
</div>